# This is a demo of env key value pairs required to run this project, replace accurate values in respective keys 👇

# 1.Backend server port
PORT=4001

# 2.PostgreSQL database credentials
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=express-crud

